body{
    background-color: #13141b;
    color: #ffffff;
    background-image: url(../images/bg-image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}



.btn-privious{
    background: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}
.navbar-toggler {
    border: none;
}


.single-result{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

